.container_secvices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container_secvices .card{
    width: 31%;
    padding: 35px 40px;
    background: var(--color-bg-variant);
    border-radius: 1rem;
    transition: var(--transition);
    border: 1px solid transparent;
    margin-top:3px;
}

.container_secvices .card:hover{
    background: transparent;
    border-color: var(--color-primary);
    transform: scale(1.5rem);
}

.container_secvices .icon{
    font-size: 55px;
    margin-bottom: 10px;
    color: var(--color-primary);

}

.container_secvices h3{
    margin-bottom: 10px;
}

.container_secvices p{
    font-size: 14px;
}

@media(max-width:1024px) {
    .container_secvices .card{
        width: 48%;
        margin-bottom: 35px;
    }
    
}

@media(max-width:600px) {
    .container_secvices .card{
        width: 100%;
    }
    
}